.jumbotron {
  height: 400px;
  width: 200%;
  max-height: 50%;
  max-width: 100%;
  min-height: 20%;
  min-width: 30%;
  background-size: 100% 100%;
  background-image: url("/images/helping-hand-agency.jpg"); 

}
.button {
    background-color: #e6fff9; /* Green */
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.button1 {
	border-radius: 6px;
	padding: 10px 24px;
}